{{#if blog.length}}
<div class="row mb-4">
  <div class="col-md-5">
    <h2>
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    <p>
      Posted by {{blog.user.username}} on {{format_date blog.date_created}}
    </p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.content}}
    </p>
  </div>
</div>
{{/if}}

<div class="row mb-4">

  <div class="col-md-10">
    <label for="comment-Area" class="form-label">Comment:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>
</div>